.App {
  margin: 50px;
  background-color: cornsilk;
}

.App-dark {
  margin: 50px;
  background-color: darkblue;
  color: white;
}

.App-header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: whitesmoke;
}

.App-header-dark {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #282c34;
}
